<div class="terms-wrapper <%= pageBreak ? 'page-break' : '';%>">
    <% if(termsCondition?.termsConditions =='provident_terms' || termsCondition?.termsConditions =='provident_land_terms' )
        { %>
        <div class="terms-condition">
            <div class="applicant-details-card">
                <h3 class="title-personal-hd marginBottom16">Terms and Conditions</h3>
                <h3 class="title-have-stated">
                    I HAVE READ AND UNDERSTOOD AND AGREE TO THE TERMS OF PAYMENT STATED
                    BELOW:
                </h3>
                <div class="table-responsive-pdf tbl-border">
                    <table>
                        <tr>
                            <th><b>DAY/EVENT</b></th>
                            <th><b>PAYMENT OBLIGATION</b></th>
                            <th><b>CONDITIONS</b></th>
                        </tr>
                        <tr>
                            <td>Day 1/Date of submitting booking form</td>
                            <td>
                                <b>'2,00,000' (Rupees Two Lakhs, inclusive of applicable
                                    GST)</b>
                            </td>
                            <td>REFUNDABLE</td>
                        </tr>
                        <tr>
                            <td>Within 3 (three) days of issue of allotment letter.</td>
                            <td>
                                <b>9.9% of the agreement value,</b> excluding amounts already
                                paid.
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Execution and registration of agreement to sell</td>
                            <td>
                                <b>11.1% of the agreement value,</b> excluding amounts already
                                paid.
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>After registration of the agreement to sell</td>
                            <td>
                                In accordance with payment plan set out in the agreement to
                                sell
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                IF PROVISIONAL ALLOTMENT IS CANCELLED IN ACCORDANCE WITH THE
                                TERMS CONTAINED HEREIN, PROMOTER IS ENTITLED TO ALLOT THE
                                CANCELLED APARTMENT TO ANY THIRD PARTY AT ITS SOLE DISCRETION.
                                THE APPLICANT(S) WILL THEREAFTER HAVE NO FURTHER RIGHTS OR
                                CLAIMS AGAINST THE COMPANY FOR ALLOTMENT/POSSESSION OF THE
                                CANCELLED APARTMENT.
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                EXCEPT FOR GST ON BOOKING AMOUNT, APPLICABLE GOODS AND
                                SERVICES TAX, INFRASTRUCTURE CHARGES, STATUTORY DUTIES, FEES
                                AND LEVIES & OTHER POSSESSION RELATED CHARGES ARE NOT INCLUDED
                                AND IS PAYABLE AS PER COST SHEET PROVIDED OR PAYMENT SCHEDULE
                                ATTACHED TO THE SALE AGREEMENT.
                            </td>
                        </tr>
                    </table>
                </div>
                <h3 class="title-have-stated">
                    TERMS AND CONDITIONS OF THE APPLICATION FOR ALLOTMENT
                </h3>
                <div class="table-responsive-pdf tbl-border">
                    <table>
                        <tr>
                            <th><b>SL.NO.</b></th>
                            <th><b>HEADING</b></th>
                            <th align="center"><b>IMPORTANT TERMS & CONDITIONS</b></th>
                        </tr>
                        <tr>
                            <td valign="top">1.</td>
                            <td valign="top">
                                <b>Application not a confirmation of allotment</b>
                            </td>
                            <td>
                                It is expressly clarified that this application for allotment
                                (the <b>"Application"</b>) is neither a confirmation of
                                allotment nor an express or implied undertaking by the
                                <%= projectName.includes("Ecopolitan") ? "Provident White Oaks LLP" : "Provident Housing Limited" %>. and/or its subsidiaries,
                                affiliates, associated concerns (the <b>"Promoter"</b>) to
                                allot and/or reserve and/or block the unit that the
                                applicant(s) has expressed a preference for, in this
                                Application.<br />
                                If the Application is confirmed,the unit chosen and preferred
                                by the customer(the <b>"Unit"</b>)will be
                                <b><u>temporarily blocked and an allotment letter will be
                                        issued,subject to the explicit conditions set out in
                                        paragraph 4 below,</u></b>
                                failing which the company shall be entitled to cancel the
                                allotment and deal with the unit in any manner of its
                                choosing.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">2.</td>
                            <td valign="top"><b>Basis of processing Application</b></td>
                            <td>
                                Application will be considered and processed by Promoter in
                                accordance with its policies and procedures, including but not
                                limited to carrying out the necessary checks to establish the
                                credentials and financial and credit score of the
                                Applicant(s).
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">3.</td>
                            <td valign="top"><b>Mandatory Documents</b></td>
                            <td>
                                Document to be <b>mandatorily submitted</b> along with the
                                Application:
                                <ul class="ul-list-pan">
                                    <li>
                                        (i) Self-attested copy of Applicant(s) <b>PAN card;</b>
                                    </li>
                                    <li>
                                        (ii) Self-attested <b>proof of residence</b> of
                                        Applicant(s);
                                    </li>
                                    <li>
                                        (iv) Self-attested <b>proof of age</b> of Applicant(s).
                                    </li>
                                </ul>
                                If the application is in joint names, both the applicants must
                                sign the application form and submit necessary documents.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">4.</td>
                            <td valign="top"><b>Conditions of Allotment </b></td>
                            <td>
                                The allotment, if confirmed pursuant to this Application, is
                                subject to the following conditions:
                                <ul class="ul-list-pan">
                                    <li>
                                        (i) the allotment shall always be subject to the scheme
                                        and design of development formulated by Promoter for this
                                        project, which cannot be changed except in accordance with
                                        law; and
                                    </li>
                                    <li>
                                        (ii) the allotment shall not be transferred/assigned
                                        except with the written consent of Promoter, which
                                        Promoter is entitled to deny; and always subject to the
                                        terms and conditions of transfer/assignment specified by
                                        Promoter; and
                                    </li>
                                    <li>
                                        (iii) that if Applicant(s) fails to execute the agreement
                                        to sell within 30 (thirty) days from the date of issue of
                                        the Allotment Letter; and Applicant fails present
                                        himself/herself/themselves before the jurisdictional
                                        sub-registrar for registration of the agreement to sell
                                        within 90 (ninety) days from the date of issue of the
                                        allotment letter; and Applicant(s) makes full payment of
                                        not less than 20% of the sale consideration within 75
                                        (seventy five) days from the date of issue of the
                                        Allotment Letter, the unit temporarily reserved/blocked
                                        for the Applicant will be released, without the need for
                                        any further notice to Applicant(s), and the allotment in
                                        favour of Applicant(s)stands cancelled with immediate
                                        effect.
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">5.</td>
                            <td valign="top"><b>Powers of Attorney</b></td>
                            <td>
                                In case Applicant(s) appoints a power of attorney, a
                                self-attested copy of the power of attorney must be submitted
                                along with this Application, failing which Promoter may reject
                                the Application.<br />
                                If the Applicant(s) is desirous of appointing a power of
                                attorney for execution and registration of the agreement to
                                sell, Promoter may, upon a request from Applicant, assist the
                                Applicant in such process, the costs, expenses and charges of
                                which shall be borne by theApplicant(s).
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">6.</td>
                            <td valign="top"><b>Additional Parking Spaces</b></td>
                            <td>
                                If additional parking spaces are available or become available
                                in the future, any allotment of such additional car parks may
                                be made by the Promoter, on a first come first serve basis and
                                subject to receiving a written request from Applicant(s), in
                                line with the chronological order in which the agreements to
                                sell were executed and registered and Applicant(s) pays not
                                less than 20% of the agreed sale consideration. The exact
                                location of the car parking space will be determined by the
                                Promoter.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">7.</td>
                            <td valign="top"><b>Time is of the Essence</b></td>
                            <td>
                                The Applicant(s)undertakes to make payment of any and all
                                amounts due to Promoter strictly in accordance with the
                                payment schedule stated herein, without delay, and in full.
                                The Applicant(s) agrees and acknowledges that, subject to
                                confirmation of allotment, time is the essence of the
                                agreement between Applicant(s) and Promoter, and consequently
                                the Applicant(s) obligation to make payments on time and in
                                full is of the essence.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">8.</td>
                            <td valign="top">
                                <b>Deposits, Charges, Fees and Other Expenses</b>
                            </td>
                            <td>
                                All deposits, fees, expenses, charges or levies including
                                those demanded, or incurred, or required to be paid to the
                                relevant authorities, bodies, agencies, and/or departments on
                                account of developing infrastructure, management of such
                                infrastructure & other services shall be borne and paid by the
                                applicant(s) in accordance with the terms of the agreement to
                                sell.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">9.</td>
                            <td valign="top"><b>Default & Cancellation</b></td>
                            <td>
                                Any default in payments by Applicant(s) to Promoter after
                                issue of the allotment letter will be handled in accordance
                                with the terms and conditions of the allotment letter or
                                executed agreement to sell as applicable. In case of the
                                applicant cancelling or seeking cancellation of the
                                booking/allotment, prior to execution of agreement to sale,
                                booking amount paid will be refunded. Any taxes paid to the
                                government will not be refunded.
                                <hr />
                                The applicant/s will be solely responsible for timely payment
                                of all amounts due, irrespective of whether the payments are
                                made from their own funds or by way of housing loan if any
                                availed from a bank.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">10.</td>
                            <td valign="top"><b>GST</b></td>
                            <td>
                                In the event of cancellation of an allotment for any reasons
                                whatsoever, all amounts paid on account of Goods and Services
                                Tax cannot be refunded. The Company will provide a certificate
                                to the applicant stating the amounts paid on account of GST,
                                which certificate the applicant may use to directly apply for
                                refund of GST paid, if permitted by law.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">11.</td>
                            <td valign="top"><b>Change Management</b></td>
                            <td>
                                In case the applicant/s is desirous of changing/substituting
                                the names of purchasers/applicants after the execution and
                                registration of the agreement to sell, all charges, costs and
                                expenses associated therewith, including but not limited to
                                procuring, embossing, franking of relevant document and
                                purchase of stamp papers shall be borne exclusively by the
                                applicant(s).
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">12.</td>
                            <td valign="top"><b>Minor Applicant </b></td>
                            <td>
                                Wherever a minor is a second applicant, all documents shall be
                                signed by the natural guardian on behalf of the minor. The
                                natural guardian shall be solely responsible for informing the
                                Company once the minor attains the age of majority, and at all
                                times prior to the execution of the conveyance deed.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">13.</td>
                            <td valign="top"><b>Governing Law</b></td>
                            <td>
                                All disputes relating to/arising out of or in relation to this
                                application for allotment will be subject to the exclusive
                                jurisdiction of the courts located in the city where the
                                project is situated.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">14.</td>
                            <td valign="top"><b>Consent to Use of KYC Details</b></td>
                            <td>
                                I authorize Puravankara Limited and its group companies to collect
                                and store my Aadhaar and PAN details, including document images,
                                for identity verification and compliance purposes.
                                My information will be kept confidential and used only as per applicable data privacy laws.
                            </td>
                        </tr>
                    </table>
                </div>

                <%
                    let declarationPageBreak = "";
                    if(primarySource == PROVIDENT_PREMIER) {
                        declarationPageBreak = "page-break";
                %>
                    <%- include('provident-referral-terms') %>
                <%
                    }
                    if(primarySource == PURVA_PRIVILEGE) {
                        declarationPageBreak = "page-break";
                %>
                    <%- include('puravankara-referral-terms',{ referrerPage: false }) %>
                <% } %>
                <div class="blue-line <%- declarationPageBreak%>"></div>
                <ol class="list-number">
                    <li>
                        <b class="li-b">Declaration by the Applicant/s:</b> I/We have read
                        the above terms and conditions of this Application and after
                        reading these terms and conditions, undertake that I/we have fully
                        understood the contents thereof, have obtained legal advice on the
                        same, and I/we expressly agree to strictly abide by and adhere to
                        these terms and conditions.
                    </li>
                </ol>
                <ol class="list-number">
                    <li>
                        <b class="li-b">If Applicant is NRI/PIO:</b> I/We hereby declare
                        that I/We confirm that we are non-resident Indian/Person of Indian
                        origin and shall comply with all statutory compliances applicable
                        by laws and rules in India applicable for purchase of Apartment/s
                        sold by the Company. The Company shall not be liable for any
                        non-compliance on my/our part, if any.
                    </li>
                </ol>
                <ol class="list-number">
                    <li>
                        <b class="li-b">Note:</b>
                    </li>
                </ol>
                <ul class="ul-notes">
                    <li>
                        1. All payments shall be made to the designated bank account of
                        the company, details of which will be provided to the
                        applicant(s). Bank charges, if applicable, shall be paid by the
                        applicants on actual.
                    </li>
                    <li>
                        2. Please refer to our website for further information on the
                        Project. (<a class="link-anch"
                            href="https://www.providenthousing.com/">www.providenthousing.com</a>)
                    </li>
                    <li>
                        3. Whilst it is not mandatory, you may consider nominating one of
                        your relatives to facilitate easy possession and registration
                        formalities, failing which proof of succession will be required.
                        We shall transfer the booking/Apartment to such nominee who shall
                        discharge all your responsibility.
                    </li>
                </ul>
            </div>
        </div>
        <% } else { %>
            <div class="terms-condition">
                <div class="applicant-details-card">
                    <h3 class="title-personal-hd marginBottom16">Terms and Conditions</h3>
                    <ol class="list-number">
                        <li>
                            <b class="li-b">1. PAYMENT TERM:</b> The following payment term
                            shall be applicable for the successful allotment of the unit
                            requested through this application:
                        </li>
                    </ol>
                    <div class="table-responsive-pdf tbl-border">
                        <table>
                            <tr>
                                <th>Day/Event</th>
                                <th>Payment Obligation</th>
                                <th>Conditions</th>
                            </tr>
                            <tr>
                                <td>Booking/Advance amount</td>
                                <td>
                                    500000/- (Rupees five lakh, inclusive of applicable GST)
                                </td>
                                <td>Refundable as per Sl no. 7</td>
                            </tr>
                            <tr>
                                <td>Within 10days from the date of booking</td>
                                <td>
                                    9.5% /10% /15% of the sale consideration as applicable (less
                                    booking amount)
                                </td>
                                <td>Refundable as per Sl no. 7</td>
                            </tr>
                            <tr>
                                <td>On Execution of Agreement for sale</td>
                                <td>
                                    In accordance with payment schedule set out in theAgreement of
                                    sale
                                </td>
                                <td>As per terms of agreement</td>
                            </tr>
                        </table>
                    </div>
                    <ol class="list-number">
                        <li>
                            <b class="li-b">
                                1.1
                            </b>
                            The Applicant does hereby undertake to make payments in terms of the payment schedule /demand raised by the Promoter. 
                            The Applicant understands that as per the applicable laws, any amount payable above 10% requires execution of the Agreement 
                            to Sell and therefore the Promoter has restricted the instalment amount to nine (9%) or nine and half (9.5%). 
                            Any excess amount paid voluntarily at the sole discretion of the Applicant shall if accepted by the Promoter be adjusted against 
                            future dues upon execution of the Agreement to Sell or otherwise dealt with in accordance with applicable law. The Applicant is 
                            further aware that such excess amounts paid shall not carry any interest, benefit, rebate or compensation of any nature and no 
                            claim shall be raised by the Applicant against the Company at any time.
                        </li>
                    </ol>
                    <ol class="list-number">
                        <li>
                            <b class="li-b">
                                2. APPLICATION NOT A CONFIRMATION OF ALLOTMENT:
                            </b>
                            It is expressly clarified that this application for allotment (the
                            “Application") is neither a confirmation of allotment nor implies
                            any undertaking by the Puravankara Limited and/or its
                            subsidiaries/ affiliates/ associated concerns (the "Promoter") to
                            allot and/or reserve and/or block the unit that the applicant(s)
                            have requested for, in this Application. If the Application is
                            confirmed, the unit preferred and chosen by the applicant(s) (the
                            "Unit") will be temporarily blocked and an allotment letter will
                            be issued, subject to the explicit conditions set out in paragraph
                            4 below, failing which the company shall be entitled to cancel the
                            allotment and deal with the unit in any manner of its choosing.
                        </li>
                    </ol>
                    <ol class="list-number">
                        <li>
                            <b class="li-b">3. BASIS OF PROCESSING APPLICATION:</b> This
                            ‘Application’ shall be processed basis the fulfillment of the
                            below requirements, failing which the ‘Promoter’ shall be entitled
                            to reject/cancel the‘Application’
                            <ul>
                                <li>
                                    A. All columns in the ‘Application’ are filled completely and
                                    all pages are duly signed by Applicant(s)
                                </li>
                                <li>
                                    B. Applicant(s) shall submit necessary self-attested KYC along
                                    with this ‘Application’
                                </li>
                                <li>
                                    C. Promoter shall process the ‘Application’ in accordance with
                                    its policies and procedures, including but not limited to
                                    carrying out the necessary verification of KYC, checks to
                                    establish the financial credentials and credit score of the
                                    Applicant(s).
                                </li>
                                <li>
                                    D. Availability of the “Unit” at the time of submission of the
                                    ‘Application’
                                </li>
                                <li>
                                    E. Realization of Earnest Money / Booking advance issued
                                    towards the ‘Unit’
                                </li>
                            </ul>
                        </li>
                    </ol>
                    <ol class="list-number">
                        <li>
                            <b class="li-b condition-allotment">
                                4. CONDITIONS OF ALLOTMENT:
                            </b>
                            The allotment, if confirmed pursuant to this Application, is
                            subject to the following conditions failing which the flat
                            temporarily reserved for the Applicant(S) shall be released and
                            the allotment in favour of Applicant(s) shall stand cancelled with
                            immediate effect without the need for any further notice to
                            Applicant(s)
                            <ul>
                                <li>
                                    (i) The Applicant(s) shall execute and register the agreement
                                    to sell within 60 (sixty) days from the date of issue of the
                                    Allotment Letter; and
                                </li>
                                <li>
                                    (ii) On execution of the Agreement to Sell, the terms and
                                    conditions as contained in the Agreement to Sell shall become
                                    applicable.
                                </li>
                            </ul>
                        </li>
                    </ol>
                    <ol class="list-number">
                        <li>
                            <b class="li-b power-attorney">5. POWERS OF ATTORNEY: </b> In case
                            Applicant(s) appoints a power of attorney, a self-attested copy of
                            the power of attorney must be submitted along with this
                            Application, failing which the Promoter may reject the
                            Application. If the Applicant(s) is desirous of appointing a power
                            of attorney for execution and registration of the agreement to
                            sell, Promoter may, upon a request from Applicant, assist the
                            Applicant in such process, the costs, expenses and charges of
                            which shall be borne by the Applicant(s).
                        </li>
                    </ol>
                    <ol class="list-number">
                        <li>
                            <b class="li-b">
                                6. DEPOSITS, CHARGES, FEES AND OTHER EXPENSES:
                            </b>
                            All deposits, fees, expenses, charges or levies including those
                            demanded, or incurred, or required to be paid to the relevant
                            authorities, bodies, agencies, and/or departments on account of
                            developing infrastructure, management of such infrastructure &
                            other services shall be borne and paid by the applicant(s) in
                            accordance with the terms of the Agreement to Sell.
                        </li>
                    </ol>
                    <ol class="list-number seventh-terms page-break">
                        <li>
                            <b class="li-b">7. DEFAULT & CANCELLATION: </b>
                            Any default in payments by Applicant(s) to Promoter after issue of
                            the allotment letter will be handled in accordance with the terms
                            and conditions of the allotment letter or executed agreement to
                            sell as applicable. In case of the applicant cancelling or seeking
                            cancellation of the booking prior to allotment letter, booking
                            amount paid shall be refunded. In case of cancellation of the
                            booking after issuance of allotment letter, the cancellation
                            charges shall be as per the table provided below:
                        </li>
                    </ol>
                    <div class="table-responsive-pdf tbl-border">
                        <table>
                            <tr>
                                <th>Sl. No.</th>
                                <th>
                                    If the Letter requesting to cancel the booking is received
                                </th>
                                <th>Amount to be deducted</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Within 15 days from issuance of the Allotment letter</td>
                                <td>Nil</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    Within 16 to 30 days from issuance of the Allotment letter
                                </td>
                                <td>1% of the cost of the said unit</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>
                                    Within 31 to 60 days from issuance of the allotment letter
                                </td>
                                <td>1.5% of the cost of the said unit</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>After 61 days from issuance of the allotment letter.</td>
                                <td>2% of the cost of the said unit</td>
                            </tr>
                        </table>
                    </div>
                    <ol class="list-number">
                        <li>
                            The applicant/s will be solely responsible for timely payment of
                            all amounts due, irrespective of whether the payments are made
                            from their own funds or by way of housing loan if any availed from
                            a bank.
                        </li>
                    </ol>

                    <ol class="list-number">
                        <li>
                            <b class="li-b eighth-terms">8. GST: </b> In the event of
                            cancellation of an allotment for any reasons whatsoever, all
                            amounts paid on account of GST cannot be refunded. The company
                            shall provide certificate to applicant stating the amounts paid on
                            account of GST, which certificate the applicant may use to
                            directly apply for the refund of the GST paid, if permitted by
                            law.
                        </li>
                    </ol>
                    <ol class="list-number">
                        <li>
                            <b className="li-b">9. CHANGE MANAGEMENT: </b> In case the
                            applicant/s is desirous of changing/substituting the names of
                            purchasers/applicants after the execution and registration of the
                            agreement to sell, all charges, costs and expenses associated
                            therewith, including but not limited to procuring, embossing,
                            franking of relevant document and purchase of stamp papers shall
                            be borne exclusively by the applicant(s).
                        </li>
                    </ol>
                    <ol class="list-number">
                        <li>
                            <b className="li-b">10. MINOR APPLICANT: </b> Wherever a minor
                            is a second applicant, all documents shall be signed by the
                            natural guardian on behalf of the minor. The natural guardian
                            shall be solely responsible for informing the Company once the
                            minor attains the age of majority, and at all times prior to the
                            execution of the conveyance deed.
                        </li>
                    </ol>
                    <ol class="list-number">
                        <li>
                            <b className="li-b">11. TIME IS THE ESSENCE: </b> The
                            Applicant(s) undertakes to make payment of any and all amounts due
                            to promoter strictly in accordance with the payment schedule
                            stated herein, without delay, and in full. The Applicant(s) agrees
                            and acknowledges that, subject to confirmation of allotment, time
                            is the essence of agreement between Applicant(s) and Promoter, and
                            consequently the Applicant(s) obligation to make payments on time
                            and in full is of the essence.
                        </li>
                    </ol>
                    <ol class="list-number">
                        <li>
                            <b className="li-b">12. GOVERNING LAW: </b> All disputes
                            relating to/arising out of or in relation to this application for
                            allotment will be subject to the exclusive jurisdiction of the
                            courts located in the city where the project is situated.
                        </li>
                    </ol>
                    <ol class="list-number">
                        <li>
                            <b className="li-b">13. NRI/PIO APPLICANT(S): </b>
                            Non-resident Indians/ Person of Indian Origin shall comply with
                            all statutory compliances applicable by laws, rules and
                            regulations prevalent in India for purchase of Apartment(s) sold
                            by the Company. The Company shall not be liable for any
                            non-compliance on part of the NRI/PIO Applicant(s).
                        </li>
                    </ol>
                    <ol class="list-number">
                        <li>
                            <b className="li-b">14. Consent to Use of KYC Details: </b>
                            I authorize Puravankara Limited and its group companies to collect
                            and store my Aadhaar and PAN details, including document images,
                            for identity verification and compliance purposes.
                            My information will be kept confidential and used only as per applicable data privacy laws.
                        </li>
                    </ol>
                    <%
                    let declarationPageBreak = "page-break";
                    if(primarySource == PURVA_PRIVILEGE) {
                        declarationPageBreak = "";
                    %>
                        <%- include('puravankara-referral-terms',{ referrerPage: false }) %>
                    <%
                        }
                        if(primarySource == PROVIDENT_PREMIER) {
                            declarationPageBreak = "page-break";
                    %>
                        <%- include('provident-referral-terms') %>
                    <% } %>
                    <div class="dashedBorder <%= declarationPageBreak %>" ></div>
                    <h3 class="title-personal-hd marginBottom16 ">Declaration</h3>
                    <div class="declaration-wrap">
                        <p>
                            I/ We, the Applicant(s), declare our understanding / satisfaction
                            on the following:
                        </p>
                        <p>
                            1. The details pertaining to the project viz; location,
                            specification, amenities, project and apartment layout, sanction
                            plans, payment and completion schedule etc have been explained by
                            the Promoter and are satisfied of information provided during
                            visit to the project site / website of the Promoter and RERA
                        </p>
                        <p>
                            2. That all communications (majorly electronic mode) shall be sent
                            to the email id / communication address of the first applicant.
                        </p>
                        <p>
                            3. That I / We, the Applicant(s) shall be solely responsible for
                            updating any change in communication address / personal details to
                            the Promoter, failing which any communication or information based
                            on the details furnished in the Application shall be deemed to
                            have been received by the Applicant(s) or shall be deemed valid.
                        </p>
                        <p>
                            4. The deposits, charges, taxes and levies payable to government
                            agencies, as applicable from time to time shall be borne by me /us
                        </p>
                        <p>
                            5. The parking spaces will be marked and allotted after the
                            completion of the project
                        </p>
                        <p>
                            6. In case I/ We, the Applicant(s), is/are desirous of
                            changing/substituting the names of purchasers/applicants after the
                            execution and registration of the agreement to sell, all charges,
                            costs and expenses associated therewith, including but not limited
                            to procuring, embossing, franking of relevant document and
                            purchase of stamp papers shall be borne exclusively by
                            the applicant(s).
                        </p>
                        <p>
                            7. That if the the provisional Allotment is cancelled in
                            accordance with the Terms contained herein, promoter is entitled
                            to Allot the cancelled unit to any third party at its sole
                            discretion. I/ we , the Applicants, will thereafter have no
                            further rights or claims against the company / promoter for
                            Allotment / Possession of the cancelled unit.
                        </p>
                        <p>
                            8. I/ We, the applicant(s), are solely responsible for the payment
                            of TDS, as applicable for this transaction.
                        </p>
                        <p>
                            I/We have read the above terms and conditions of this Application
                            and accept that the same shall be applicable on me/us, our legal
                            heirs and successors. I/we fully understood the contents thereof,
                            have obtained legal advice on the same, and I/we expressly agree
                            to strictly abide by and adhere to these terms and conditions.
                        </p>
                    </div>
                </div>
            </div>
            <!-- 8 -->
    <% } %>
</div>